<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.ffhs.esa.arm.gpstracker"
    android:versionCode="1"
    android:versionName="1.0" >
 
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
        
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>  

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <permission      android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
    <uses-permission android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

   	<instrumentation android:name="android.test.InstrumentationTestRunner"
	    android:targetPackage="ch.ffhs.esa.arm.gpstracker"
	    android:label="your tests label" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <!-- <uses-library android:name="com.google.android.maps"/> -->	
        <activity
            android:name=".MainActivity"
            android:label="Urgency Call" 
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrackingListActivity"
            android:label="Tracking List" 
            android:launchMode="singleInstance">
        </activity>
        <activity
            android:name=".TrackingNewActivity"
            android:label="New Tracking" 
            android:launchMode="singleInstance">
        </activity>
        <activity
            android:name=".MapViewActivity"
            android:label="MapView"
            android:launchMode="singleInstance">
        </activity>
        <activity 
            android:name=".EditPreferences"
            android:label="Preferences"
            android:launchMode="singleInstance">
        </activity>
        <activity 
            android:name=".HelpActivity"
            android:label="Help"
            android:launchMode="singleInstance">
        </activity>   
        <activity 
            android:name=".LockActivity"
            android:label="Lock"
            android:launchMode="singleInstance">
        </activity>
        <activity 
            android:name=".UnlockActivity"
            android:label="Unlock"
            android:launchMode="singleInstance">
        </activity>
        
       <service 
           android:name=".services.GeoPositionServiceRemote"
           android:process=":GeoPositionServiceRemote">
       </service>
       
       <receiver android:enabled="true"
                 android:name=".services.MessengerServiceAutostart"
                 android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
           <intent-filter>
               <action android:name="android.intent.action.BOOT_COMPLETED" />
           </intent-filter>
       </receiver>   
        
        <meta-data
	    android:name="com.google.android.maps.v2.API_KEY"
	    android:value="AIzaSyDHBPq_BddV58b5Q0vsyraYrjcIqPmiwu0"/>
        
        <uses-library android:name="android.test.runner" />
        
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        
    </application>
</manifest>
