<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.ffhs.esa.arm.gpstracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <!-- <uses-library android:name="com.google.android.maps"/> -->	
        <activity
            android:name=".MainActivity"
            android:label="Urgency Call" 
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrackingListActivity"
            android:label="Tracking List" 
            android:launchMode="singleInstance">
        </activity>
        <activity
            android:name=".TrackingNewActivity"
            android:label="New Tracking" 
            android:launchMode="singleInstance">
        </activity>
        <activity
            android:name=".MapViewActivity"
            android:label="MapView"
            android:launchMode="singleInstance">
        </activity>
        <activity 
            android:name=".EditPreferences"
            android:label="Preferences"
            android:launchMode="singleInstance">
        </activity>
        <activity 
            android:name=".HelpActivity"
            android:label="Help"
            android:launchMode="singleInstance">
        </activity>   
        <activity 
            android:name=".LockActivity"
            android:label="Lock"
            android:launchMode="singleInstance">
        </activity>
        <activity 
            android:name=".UnlockActivity"
            android:label="Unlock"
            android:launchMode="singleInstance">
        </activity>
        
       <service 
           android:name=".services.GeoPositionServiceRemote"
           android:process=":GeoPositionServiceRemote">
       </service>
       
       <receiver android:name=".services.MessengerServiceAutostart">
           <intent-filter>
               <action android:name="android.intent.action.BOOT_COMPLETED" />
           </intent-filter>
       </receiver>
       
        <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    </application>

</manifest>
